@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    max-width:100vw;
    color:tomato;
    text-align: center;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    padding-top:1.5rem;
}

.formDiv{
    text-align: center;
    display: inline-block;
    background-color:white;
    padding:20px;
    border-radius: 10px;
    color:tomato;

    h2{
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        
    }

    ul{
        display:flex;
        justify-content: center;
        list-style-type: none;
        padding:10px;
        text-transform: uppercase;  
    }

    label{
        padding:10px;
        font-weight: bold;
    }
    input{
        border-radius: 5px;
        border: 2px solid tomato;
        padding:10px 30px;
        max-width:10rem;
        margin-bottom:1.5rem; 
        text-transform: uppercase;
    }
    input[type=text]:focus{
        border:3px solid tomato;
    }
    button{
        border-radius: 5px;
        border: 2px solid tomato;
        padding:10px 30px;
        max-width:10rem;
        margin-left:2rem;
        background-color: tomato;
        color:white;

    }
    
    
}

.notActive{
    display: none;
}

.active{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#display-finished-lib{
    background-color: white;
    color:tomato;
    border-radius: 10px;
    text-align:center;
    padding: 1.5rem 6rem;
    margin:1.5rem 6rem;
}
